<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <script src="https://kit.fontawesome.com/22fcca8709.js" crossorigin="anonymous"></script>
    <link href="CSS/stylesDetalleProducto.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="section">
    <header>
        <div class="titulo">
            <div>
                <h1> TECNO DIGITAL </h1>
            </div>
            <div class="buscador">
                <input class="busqueda" type="text" placeholder="Buscar productos">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </div>
            <div class="carro-login">
                <div class="login">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="nav-bar">
            <ul class="primera-seccion">
                <li><a href="#"> Inicio </a></li>
                <li><a href="#"> Laptops </a></li>
                <li><a href="#"> Teclado </a></li>
                <li><a href="#"> Mouse </a></li>
                <li><a href="#"> Motherboards </a></li>
            </ul>
            <ul class="segunda-seccion">
                <li><a href="#"> Tarjetas graficas </a></li>
                <li><a href="#"> Gabinetes </a></li>
                <li><a href="#"> Monitores </a></li>
                <li><a href="#"> Fuentes de alimentacion </a></li>
            </ul>
        </div>
        <nav>
            <p><i class="fa-solid fa-house"></i>/Gabinetes/Nombre del producto</p>
        </nav>
    </header>
    <section>
        <div>
            <h1>Gabinete MSI MPG Gungnir 110M</h1>
            <img class="imagen-producto" src="/images/gabinete-MSI-Gungnir.jpg" alt="gabinete MSI Gungnir M110">
        </div>
        <div>
            <h1 class="nombre-articulo-derecha">Gabinete MSI MPG Gungnir 110M</h1>
            <h2>$1.259</h2>
            <label for="cantidad">Unidades</label>
            <input class="unidad" type="number" id="cantidad" name="cantidad" min="1" max="100" value="1">
            <button type="submit">Añadir al carrito</button>
            <i class="fa-solid fa-heart corazon"></i>
            <p>Me gusta este producto</p>
            <img src="/images/Paypal-logo.png" alt="Paypal logo">
            <img src="/images/mastercard-logo.jpg" alt="mastercard logo">
        </div>
        <div>
            <h3>Información del producto</h3>
            <p>Factor de forma de la carcasa Nombre del producto Dimensión Peso Puertos de E/S Bahías de controladores
                Ranuras de expansión de la carcasa Preinstalación del ventilador DISPOSICIÓN DEL RADIADOR Longitud
                máxima de la GPU Longitud máxima del enfriador de la CPU Compatibilidad del radiador Fuente de
                alimentación Lightning Torre mediana MPG GUNGNIR 110M 215 (ancho) x 430 (profundidad) x 450 (alto) mm /
                8,46 (ancho) x 16,93 (profundidad) x 17,72 (alto) pulgadas 7,9 kg / 17,4 libras USB 3.2 de 1.ª
                generación tipo A x 2 USB 3.2 de 2.ª generación tipo C x1 Audio x1 Micrófono x1 SSD de 2,5' x 2 + 3,5”
                con bandeja combinada de 2,5” x 2 7 Frontal: Ventilador Auto-RGB de 120 mm x 3 Posterior: 120 mm
                Ventilador del sistema x1 Frontal: 120 / 140 / 240 mm / 280 mm / 360 mm Superior: 120 / 240 mm
                Posterior: 120 mm 340 mm 170 mm 120 / 140 / ATX estándar Auto-RGB de 240 mm, máx. hasta 250 mm (sin
                bandeja de disco duro de 3,5' instalada)</p>
        </div>
    </section>
    <footer>
        <div>
            <i class="fa-brands fa-whatsapp"></i>
            <p> Contactanos </p>
            <p> 5544886699</p>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <p> Numero de telefono </p>
            <p> 55448866 </p>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <p> tecnofigital@digital.com </p>
        </div>
        </div>
        </div>
        <div class="footer-container">
            <div class="footer-contenido">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque eveniet, praesentium
                    omnis tempore eum vitae ab saepe dolores blanditiis possimus sint nostrum corrupti assumenda quam
                    pariatur ipsum commodi? Sint!</p>
            </div>
        </div>
    </footer>
</body>

</html>