<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
    <script src="https://kit.fontawesome.com/22fcca8709.js" crossorigin="anonymous"></script>
    <link href="CSS/styles-carrito.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="titulo">
            <div>
                <h1> TECNO DIGITAL </h1>
            </div>
            <div class="buscador">
                <input class="busqueda" type="text" placeholder="Buscar productos">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </div>
            <div class="carro-login">
                <div class="login">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="nav-bar">
            <ul class="primera-seccion">
                <li><a href="#"> Inicio </a></li>
                <li><a href="#"> Laptops </a></li>
                <li><a href="#"> Teclado </a></li>
                <li><a href="#"> Mouse </a></li>
                <li><a href="#"> Motherboards </a></li>
            </ul>
            <ul class="segunda-seccion">
                <li><a href="#"> Tarjetas graficas </a></li>
                <li><a href="#"> Gabinetes </a></li>
                <li><a href="#"> Monitores </a></li>
                <li><a href="#"> Fuentes de alimentacion </a></li>
            </ul>
        </div>
        <nav>
            <p><i class="fa-solid fa-cart-shopping"></i>/Carrito de compras</p>
        </nav>
    </header>
    <main>
        <section>
            <div class="top">
                <h3 class="top-div">Carrito (1)</h3>
                <h3 class="top-div">Guardados ( )</h3>
            </div>
            <div class="lista-productos">
                <h1 class="producto">Gabinetes para PC</h1>
                <div class="cantidad-precio">
                    <label for="cantidad"></label>
                    <input class="cantidad" type="number" name="cantidad" id="cantidad" min="1">
                    <p>$345.00</p>
                </div>
            </div>
            <div class="func-productos">
                <a href="#"> Eliminar productos </a>
                <a href="#"> Guardar para despues </a>
                <a href="#"> Ver más productos </a>
            </div>
            <div class="costos">
                <div class="costos-div">
                    <h2 class="envio-total">Envío</h2>
                    <p>$89.00</p>
                </div>
                <div class="costos-div">
                    <h2 class="envio-total">TOTAL</h2>
                    <p>$434.00</p>
                </div>
            </div>
            <div class="comprar-ahora">
            <button type="button">Comprar ahora</button>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <i class="fa-brands fa-whatsapp"></i>
            <p> Contactanos </p>
            <p> 5544886699</p>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <p> Numero de telefono </p>
            <p> 55448866 </p>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <p> tecnofigital@digital.com </p>
        </div>
        </div>
        </div>
        <div class="footer-container">
            <div class="footer-contenido">
                <p class="lorem"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque eveniet, praesentium
                    omnis tempore eum vitae ab saepe dolores blanditiis possimus sint nostrum corrupti assumenda quam
                    pariatur ipsum commodi? Sint!</p>
            </div>
        </div>
    </footer>
</body>

</html>