<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/22fcca8709.js" crossorigin="anonymous"></script>
    <link href="CSS/styles-seccion.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="titulo">
            <div>
                <h1> TECNO DIGITAL </h1>
            </div>
            <div class="buscador">
                <input type="text" placeholder="Buscar productos">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="carro-login">
                <div class="login">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="nav-bar">
            <ul class="primera-seccion">
                <li><a href="#"> Inicio </a></li>
                <li><a href="#"> Laptops </a></li>
                <li><a href="#"> Teclado </a></li>
                <li><a href="#"> Mouse </a></li>
                <li><a href="#"> Motherboards </a></li>
            </ul>
            <ul class="primera-seccion">
                <li><a href="#"> Tarjetas graficas </a></li>
                <li><a href="#"> Gabinetes </a></li>
                <li><a href="#"> Monitores </a></li>
                <li><a href="#"> Fuentes de aliemntacion </a></li>
            </ul>
        </div>
    </header>
    <section class="boton">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </section>

    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img" src="/images/banner_gaming.jpg" height="100%" width="100%"
                    alt="pc-gamer">
            </div>
    </section>
    <main>
        <div>
            <p><i class="fa-solid fa-house seccion"></i>/ Seccion/ Gabinetes </p>
        </div>
        <section class="publicaciones">
            <div class="articulos">
                <img class="imagen" src="/images/gabinete.jpg" alt="Producto">
                <div class="contenido">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p> Gabinete DP-ATX-MATREX-X50 </p>
                </div>
            </div>
            <div class="articulos">
                <img class="imagen" src="/images/gabinete.jpg" alt="Producto">
                <div class="contenido">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p> Gabinete DP-ATX-MATREX-X50 </p>
                </div>
            </div>
            <div class="articulos">
                <img class="imagen" src="/images/gabinete.jpg" alt="Producto">
                <div class="contenido">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p> Gabinete DP-ATX-MATREX-X50 </p>
                </div>
            </div>
            <div class="articulos">
                <img class="imagen" src="/images/gabinete.jpg" alt="Producto">
                <div class="contenido">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p> Gabinete DP-ATX-MATREX-X50 </p>
                </div>
            </div>
            <div class="articulos">
                <img class="imagen" src="/images/gabinete.jpg" alt="Producto">
                <div class="contenido">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p> Gabinete DP-ATX-MATREX-X50 </p>
                </div>
            </div>
            <div class="articulos">
                <img class="imagen" src="/images/gabinete.jpg" alt="Producto">
                <div class="contenido">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p> Gabinete DP-ATX-MATREX-X50 </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <i class="fa-brands fa-whatsapp"></i>
            <p> Contactanos </p>
            <p> 5544886699</p>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <p> Numero de telefono </p>
            <p> 55448866 </p>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <p> tecnofigital@digital.com </p>
        </div>
        </div>
        </div>
        <div class="footer-container">
            <div class="footer-contenido">
                <p class="lorem"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque eveniet, praesentium
                    omnis tempore eum vitae ab saepe dolores blanditiis possimus sint nostrum corrupti assumenda quam
                    pariatur ipsum commodi? Sint!</p>
            </div>
        </div>
    </footer>
</body>
</html>