* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --negro: black;
    --descuentos: 16px;
    --titulares: 24px;
    --gris-fuerte: #666;
    --verde: #39b54a;
    --color-amarillo: #EAC926;
    --azul-fuerte: #03264C;
    --azul-celeste: #1259c3;
    --fuente: 'Roboto';
}

header {
    padding: 15px;
    background: linear-gradient(to right, rgb(0, 183, 255) 300px, rgb(4, 23, 75) 400px, rgb(255, 1, 1) 700px);
    /*background: linear-gradient(to right,rgb(45, 205, 211),brown,orange,rgb(233, 33, 33));*/
}

.titulo {

    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.titulo .login {
    font-size: 2em;
    color: white;
}

.titulo div h1 {
    font-size: 2em;
    font-family: var(--fuente);
}

.buscador {
    width: 30%;
    height: 50px;
    padding: 5px;
    flex-wrap: nowrap;
}

input {
    width: 90%;
    height: 90%;
    color: var(--gris-fuerte);
    border-radius: 5px;
}

.carro-login {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;

}

.carro-login .carrito {

    font-size: 2em;
    padding: 20px;
    justify-content: space-around;
    color: white;

}

.nav-bar ul {
    list-style: none;
    display: none;
    padding: 5px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.923);
    padding: 9px;
    font-size: var(--titulares);
    font-family: var(--fuente);

}

.burger-menu {
    text-align: center;
    color: white;
}

.boton {
    border: 1px solid red;
    text-align: center;
    margin: auto;
    padding: 8px;
    background-color: blue;
    display: block;
}

.carousel {
    border: 5px solid rgb(72, 255, 0);
    padding: 5px 5px;
    display: none;
}

.carousel__container {
    display: flex;
    height: 600px;
    object-fit: cover;

}

.carousel-item {
    width: 100%;
    cursor: pointer;
}

.primera-seccion {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    white-space: nowrap;
}

/* ---------------seccion-----------*/

.seccion {
    margin-bottom: 20px;
}

.publicaciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.articulos {
    margin-left: 10px;
    margin-bottom: 20px;
    border: black solid 1px;
    width: 90%;
}

.imagen {
    width: 100%;
}

.articulos div {
    font-family: var(--fuente);
    padding: 10px;
    background: linear-gradient(90deg, rgb(2, 5, 10) 0%, rgb(0, 13, 56));
}

.contenido {
    padding: 15px;
    color: white;
}

/*  --------footer -----*/

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer i {
    color: white;
}

.footer-contenido {
    color: white;
    font-size: var(--titulares);
}

footer div {
    color: white;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.lorem {
    width: 70%;
    margin: auto;
}


@media (min-width: 361px) {

    .nav-bar ul {
        display: flex;
    }

    .titulo h1 {
        font-size: 20px;
    }

    .boton {
        display: none;
    }

    .articulos {
        box-shadow: 0px 0px 10px rgb(52, 53, 53);
        width: 45%;
        align-content: space-between
    }
    
}

@media (min-width: 769px) {

    .carousel {
        display: contents;
    }

    .nav-bar {
        border-radius: 5px;
        border-top: 3px solid rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        margin: 10px;
        flex-wrap: wrap;
    }

    main div h3 {
        padding: 25px;
    }

    .articulos {
        width: 32%;
    }
}